<tmpl_include name="inc.adminLayoutHeader.tmpl">
<form name="theForm" action="admin.php?op=updateServerSettings" method="post" onsubmit="return validateSettings('server')">
<h1>server settings</h1>
<p><input type="Submit" value="Update Settings"></p>
<h2>FluxTorrent Paths</h2>
<table id="adminServerSettings">
	<tr>
		<th>
			Transfer Parent Path<br /><span>Define the main FluxTorrent parent path. Directory must be writable by the webserver user</span></th>
		<td>
			<input name="path" id="path" type="Text" maxlength="254" value="<tmpl_var name="path">">
				<tmpl_if name="is_path" value="1">
				<tmpl_if name="is_writable" value="1">
					<img src="themes/<tmpl_var name="theme">/images/admin/serverSettings/ok.png" align="absmiddle" title="Valid">
				<tmpl_else>
					<img src="themes/<tmpl_var name="theme">/images/admin/serverSettings/error.png" align="absmiddle" title="Path is not Writable"><br /><font color="#ff0000">Path is not writable - make sure you chmod +w this path</font>
				</tmpl_if>
				<tmpl_else>
					<img src="themes/<tmpl_var name="theme">/images/admin/serverSettings/error.png" align="absmiddle" title="Path is not valid"><br><font color="#ff0000">Path is not valid</font>
				</tmpl_if>
			</td>
	</tr>
	<tr>
		<th class="alt">Document Root Path<br /><span>Define the Document Root path of the installation. Directory must be readable by the webserver user</span></th>
		<td class="alt">
			<input name="docroot" id="docroot" type="Text" maxlength="254" value="<tmpl_var name="docroot">" size="55">
				<tmpl_if name="is_docroot" value="1">
					<img src="themes/<tmpl_var name="theme">/images/admin/serverSettings/ok.png" align="absmiddle" title="Valid">
				<tmpl_else>
					<img src="themes/<tmpl_var name="theme">/images/admin/serverSettings/error.png" align="absmiddle" title="Path is not valid"><br><font color="#ff0000">Path is not valid</font>
				</tmpl_if>
		</td>
	</tr>
</table>
<h2>Home Directories</h2>
<table id="adminServerSettings">
	<tr>
		<th>Enable Home Directories<br /><span>Enable/disable home directories. If disabled all downloads are saved to the 'incoming' directory specified below</span></th>
		<td>
			<select name="enable_home_dirs" id="enable_home_dirs">
				<option value="1">True</option>
				<option value="0"
					<tmpl_if name="enable_home_dirs" value="0">
				selected
					</tmpl_if>
				>False</option>
			</select>
		</td>
	</tr>
	<tr>
		<th class="alt">Incoming Path<br /><span>Define the incoming path where downloads are saved when per user home directories are disabled</span></th>
		<td class="alt">
			<input name="path_incoming" id="path_incoming" type="Text" maxlength="254" value="<tmpl_var name="path_incoming">">
				<tmpl_if name="path_incoming_ok" value="1">
					<img src="themes/<tmpl_var name="theme">/images/admin/serverSettings/ok.png" align="absmiddle" title="Valid">
				<tmpl_else>
					<img src="themes/<tmpl_var name="theme">/images/admin/serverSettings/error.png" align="absmiddle" title="Path is not valid">
				</tmpl_if>
		</td>
	</tr>
</table>
<h2>Binary Paths</h2>
<p class="NormalText">Paths to the command-line tools FluxTorrent shells out to. In the Docker image these are already installed on the default <code>PATH</code>, so you normally do not need to change them &ndash; only edit a path if the tool lives somewhere unusual on your host. A green tick means the binary was found and is executable.</p>
<table id="adminServerSettings">
		<tr>
			<th class="alt">wget<br /><span>Fetches plain HTTP/FTP downloads (the non-torrent transfer type).</span></th>
			<td class="alt">
				<input name="bin_wget" id="bin_wget" type="Text" maxlength="254" value="<tmpl_var name="bin_wget">">
				<tmpl_var name="validate_wget">
			</td>
		</tr>
		<tr>
			<th>php (cli)<br /><span>Command-line PHP binary used by scheduled/cron maintenance tasks (<code>fluxcli.php</code>). Must be the CLI build, not CGI.</span></th>
			<td>
			<input name="bin_php" id="bin_php" type="Text" maxlength="254" value="<tmpl_var name="bin_php">">
			<tmpl_var name="validate_php">
			</td>
		</tr>
		<tr>
			<th class="alt">du<br /><span>Reports directory sizes for the file manager and disk-usage statistics.</span></th>
			<td class="alt">
				<input name="bin_du" id="bin_du" type="Text" maxlength="254" value="<tmpl_var name="bin_du">">
				<tmpl_var name="validate_du">
			</td>
		</tr>
		<tr>
			<th>unzip<br /><span>Extracts <code>.zip</code> archives from the file manager (and builds zip downloads).</span></th>
			<td>
				<input name="bin_unzip" id="bin_unzip" type="Text" maxlength="254" value="<tmpl_var name="bin_unzip">">
				<tmpl_var name="validate_unzip">
			</td>
		</tr>
		<tr>
			<th class="alt">unrar<br /><span>Extracts <code>.rar</code> archives from the file manager. Requires the Unrar option on the Directory Settings page.</span></th>
			<td class="alt">
				<input name="bin_unrar" id="bin_unrar" type="Text" maxlength="254" value="<tmpl_var name="bin_unrar">">
				<tmpl_var name="validate_unrar">
			</td>
		</tr>
		<tr>
			<th>cksfv<br /><span>Verifies file integrity against <code>.sfv</code> checksum files. Requires the SFV option on the Directory Settings page.</span></th>
			<td>
				<input name="bin_cksfv" id="bin_cksfv" type="Text" maxlength="254" value="<tmpl_var name="bin_cksfv">">
				<tmpl_var name="validate_cksfv">
			</td>
		</tr>
</table>
<h2>Server Monitoring Paths <em>(<tmpl_var name="php_uname1"> <tmpl_var name="php_uname2">)</em></h2>
<p class="NormalText">Sources used to display server load and network-connection counts. On Linux these are standard; leave them at the defaults unless your system differs.</p>
<table id="adminServerSettings">
	<tmpl_if name="_OS" value="1">
		<tr>
			<th>loadavg<br /><span>Kernel load-average file, read for the 1/5/15-minute server load shown on the index and stats pages (default <code>/proc/loadavg</code>).</span></th>
			<td>
				<input name="loadavg_path" id="loadavg_path" type="Text" maxlength="254" value="<tmpl_var name="loadavg_path">">
				<tmpl_var name="validate_loadavg">
			</td>
		</tr>
		<tr>
			<th class="alt">netstat<br /><span>Used to count active network connections for the server statistics. May be absent on minimal systems, in which case the connection count is simply hidden.</span></th>
			<td class="alt">
				<input name="bin_netstat" id="bin_netstat" type="Text" maxlength="254" value="<tmpl_var name="bin_netstat">">
				<tmpl_var name="validate_netstat">
			</td>
		</tr>
	<tmpl_elseif name="_OS" value="2">
		<tr>
			<th class="alt">sockstat<br /><span>(/usr/bin/sockstat)</span></th>
			<td>
				<input name="bin_sockstat" id="bin_sockstat" type="Text" maxlength="254" value="<tmpl_var name="bin_sockstat">">
				<tmpl_var name="validate_sockstat">
			</td>
		</tr>
	</tmpl_if>
</table>
<p><input type="Submit" value="Update Settings"></p>
<tmpl_include name="inc.adminLayoutFooter.tmpl">